/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */


/*   ----- Variables  -----  */
:root {
    --color-primary:rgb(250, 250, 255,1);
    --color-secondary: #636b83;
    --color-tertiary: #D99D78;
    --color-dark-blue: rgba(30, 39, 73, .95);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    background-color: var(--color-dark-blue);
    background-image: url(images/hawaii-sunset.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:var(--color-primary);
    font-family: 'Raleway', sans-serif;
    margin:0 auto;
    padding:0 auto;
    max-width:100%;
    line-height: 1.5;
  }
  
  /*  ----- Page layout blocks -----  */
  header {
    background-color: var(--color-dark-blue);
    margin: 0 50px;
    padding: 30px;
    text-align: center;
    border-bottom: var(--color-tertiary) 2px solid;
  }
  header img {
    height: 25px;
    width: 25px;
  }
  main {
    background-color: var(--color-dark-blue);
    margin: 0 50px;
    padding: 30px;
  }
  section {}
  article {
    min-width: 0;
  }
    #topic1 {}
    #topic2 {}
  div {}
  aside {}
  footer {
    font-size: 25px;
    color: #1E2749;
    background-color: var(--color-primary);
    margin: 0 50px;
    padding: 10px;
    text-align: center;
  }
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {}
  a:hover {
  }
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    color: #1E2749;
    background-color: var(--color-primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    margin: 0 50px;
  }
  nav a {
    font-size: 18px;
    text-decoration: none;
    margin: 10px 20px;
    padding: 7px;
    border: var(--color-secondary) 2px solid;
    border-radius: 10px;
  }
  nav a:hover {
    color: var(--color-tertiary);
    box-shadow: 0 4px 12px -2px var(--color-secondary);
  }
  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto';
  } 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {}
  caption {}
  thead {}
  tbody {}
  tfoot {}
  tr {}
    tr:nth-child(even) {}
  th {}
  td {}
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {
    font-family: 'Roboto', sans-serif;
  }
  fieldset {
    border: 2px solid var(--color-primary);
    margin: 4%;
  }
    legend {
      color: var(--color-dark-blue);
      font-size: 90%;
    }
  label {
    display: block;
    margin: 3%;
    font-size: 90%;
  }
  button {
    padding: 2%;
    font-size: 120%;
    font-family: inherit;
  }
  input {
    padding: 2%;
    font-size: 120%;
    font-family: inherit;
  }
  select {
    padding: 2%;
    font-size: 120%;
    font-family: inherit;
  }
    optgroup {}
    option {}
  textarea {
    padding: 2%;
    font-size: 120%;
    font-family: inherit;
  }
  output {}
  meter {}
  progress {}
  
  
  /* ----- Media ----- */
  figure {
    border: var(--color-secondary) 2px solid;
    border-radius: 5px;
  }
  figcaption {}
  figure img {
    }
  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .local {
    color: var(--color-primary);
    background-color: var(--color-dark-blue);
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
    margin: 0;
  }
  .local a {
    color: var(--color-primary);
    padding: 10px;
  }
  .gallery {
    display: flex;
    flex-flow: row wrap;
  }
  .gallery figure {
    max-width: 320px;
}

  .gallery img {
    height: 60%;
    width: 100%;
  }
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  